spotipy
dotenv
langchain==1.0.3
langgraph
langchain_google_genai
langchain_mistralai
langchain-google-vertexai
langsmith
langgraph-checkpoint-postgres
psycopg
psycopg2-binary
flask
flask_cors
google-genai
groq
deepagents==0.2.4
langchain_community
sounddevice
soundfile
edge_tts
supabase
psycopg[binary]
ddgs
gradio